<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
<div class="container">
  <h1>Order Detail Form</h1>
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="" class="btn btn-success" value="Submit">
      </form>
    </div>

  </div>

</div>
  </body>
</html>
